# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# venv
.idea/
.venv/

# secrets
data/
!l10n/data/
config.py

# bot sessions
incs2bot.session
incs2bot.session-journal
incs2bot_core.session
incs2bot_gc.session
incs2bot_wm.session

# experimental bot sessions
incs2bot_experimental.session
incs2bot_experimental.session-journal
incs2bot_experimental_core.session
incs2bot_experimental_gc.session
incs2bot_experimental_wm.session
