# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# venv
.idea/
.venv/

# secrets
data/
!l10n/data/
config.py

# bot sessions
INCS2bot.session
INCS2bot.session-journal
INCS2bot_core.session
INCS2bot_core.session-journal
INCS2bot_gc.session
INCS2bot_gc.session-journal
INCS2bot_wm.session
INCS2bot_wm.session-journal

# experimental bot sessions
INCS2bot_experimental.session
INCS2bot_experimental.session-journal
INCS2bot_experimental_core.session
INCS2bot_experimental_core.session-journal
INCS2bot_experimental_gc.session
INCS2bot_experimental_gc.session-journal
INCS2bot_experimental_wm.session
INCS2bot_experimental_wm.session-journal

# misc
init.sh