# Byte-compiled
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# venv
.idea/
.venv/

# secrets
_internal/
data/
config.py
logs/*
!logs/config.json

# bot sessions
/sessions/

# misc
init.sh
rendered_game_stats.html